<header class="three columns">
        <img src="{{ site.baseurl }}static/img/profile.jpg" class="profile_pic">
        <h1>{{ site.name }}</h1>
        
        <!--
        <p>
            <a href="{{ site.tel_full }}">{{ site.tel }}</a>
        </p>
        <address>
            <a href="{{ site.google_maps }}">
                {{ site.address.street }}<br/>
                {{ site.address.postcode }}<br/>
                {{ site.address.city }}<br/>
                {{ site.address.country }}
            </a>
        </address>
        
        -->

        <!--
        <p>
            <a href="{{ site.website_full }}">{{ site.website }}</a><br/>
        </p>

        -->

        <p>
            <a href="{{ site.email_full }}"><i class="fa fa-envelope"></i> {{ site.email }}</a><br/>
            <a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i> Github</a> 
            <a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i> Twitter</a>
            <a href="https://www.instagram.com/{{ site.instagram }}"><i class="fa fa-instagram"></i> Instagram</a>
        </p>

    </header>