<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Data Science and Business Informatics</h1>
            <span>University of Pisa</span>
            <span><address>Pisa, IT</address><time>2017 to 2020</time></span>
        </header>
        <p>
            <em>Thesis: Design and Development of a Business Analytic Solution for an IoT Development Framework</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor Degree in Management Engineering</h1>
            <span>University of Pisa</span>
            <span><address>Pisa, IT</address><time>2013 to 2017</time></span>
        </header>
    </article>
</section>
