<section class="thirteen columns">
    <h1>Employment</h1>
    <!--<article>
        <header>
            <h1>Software Developer Engineer</h1>
            <span><address>Pisa, IT</address><time>June, 2020 to Present</time></span>
        </header>
        <p> Junior Constultant in <a href="https://it.nttdata.com/"> NTT Data Italia </a>
        </p>
    </article> -->
    <article>
        <header>
            <h1>Data Scientist Intern</h1>
            <span><address>Pisa, IT</address><time>September, 2019 to March, 2020</time></span>
        </header>
        <p> A 6-months internship in <a href="https://www.zerynth.com/"> Zerynth </a> as Data Scientist for MSc Thesis Project. 
        </p>
    </article>
    <article>
        <header>
            <h1>CS Junior Consultant</h1>
            <span><address>Pisa, IT</address><time>June,2018 to February, 2019</time></span>
        </header>
        <p> A 8-months internship as a computer science junior consultant, taken simultaneous to MSc courses. 
        </p>
    </article>
</section>
