<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <!--<a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>-->
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">

        <li><a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a></li>
        <li>
          <a class="navbar-brand" href="{{ site.profile_url}}">Curriculum Vitae</a>
        </li>

        <!-- To insert future page (ex blog post) -->

        <!-- <li>
          <a class="navbar-brand" href="{{ site.baseurl }}profile">Curriculum Vitae</a>
        </li> -->

      </ul>
    </div>
  </div>
</nav>
