<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>European Summer School in Information Science (ESSIS)</h1>
            <span><address>University of Hildesheim, DE</address><time>2017</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Attendee at the European Astronaut Center of Cologne (EAC)</h1>
            <span><address>German Aerospace Center (DLR), Cologne, DE</address><time>2013</time></span>
        </header>
        <p>
            One-week training on ESA stuffs as High School Student from Italy
        </p>
    </article>
</section>